.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 15px;
}

.title {
    font-weight: 400;
    font-size: 34px;
    color: var(--black);
}

.text {
    font-weight: 500;
    font-size: 18px;
    color: var(--black);
}