@import url(./common.blocks/header.css);
@import url(./common.blocks/hero.css);
@import url(./common.blocks/burger.css);
@import url(./common.blocks/about.css);
@import url(./common.blocks/skills.css);
@import url(./common.blocks/portfolio.css);
@import url(./common.blocks/footer.css);
@import url(./common.blocks/dialog.css);