.burger {
    position: relative;
    width: 35px;
    height: 20px;
    z-index: 101;
}

.burger__line {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 4px;
    background-color: var(--black);
    transition: all 0.3s;
}

.burger__line_top {
    top: 0;
}

.burger__line_center {
    top: 50%;
    transform: translateY(-50%);
}

.burger__line_bottom {
    bottom: 0;
}

.burger_active .burger__line_top {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

.burger_active .burger__line_center {
    scale: 0 1;
}

.burger_active .burger__line_bottom {
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
}

.scroll-lock {
    overflow: hidden;
}

@media (min-width: 576px) {
    .burger {
        display: none;
    }
}