.dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    margin: 0;
    padding: 10px;
    padding-top: 50px;
    transform: translate(-50%, -50%);
}

.form {
    display: grid;
    gap: 20px;
    ;
}

.form__input {
    font-size: 24px;
    border: 1px solid #000;
}

.form__textarea {
    font-size: 24px;
    border: 1px solid #000;
}

.form__button {
    font-size: 24px;
    cursor: pointer;
}

.dialog__close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
}