.header__container {}

.nav {
    position: fixed;
    left: 0;
    right: 0;
    top: -100%;
    bottom: 100%;
    z-index: 100;
    width: 100%;
    height: 100%;
    padding: 65px 25px;
    background-color: white;
    transition: top 0.5s, bottom 0.5s;
    display: grid;
    overflow: auto;
}

.nav_active {
    top: 0;
    bottom: 0;
}

.header__line {
    margin: 0;
}

.nav__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 70px;
}

.list-reset {}

.nav__item {}

.nav__link {
    text-decoration: none;
    color: #828282;
    font-weight: 700;
    font-size: 34px;
}

.nav__link:hover {
    color: var(--black);
}

.nav__box-lang {
    position: relative;
}

.nav__lang {
    position: absolute;
    bottom: 0;
    justify-self: end;
    font-size: 34px;
    writing-mode: vertical-rl !important;
    white-space: nowrap;

    .lang__button {
        font-size: 34px;
    }
}

@media (min-width: 576px) {
    .nav {
        position: static;
        padding: 30px 0;
    }

    .nav__list {
        flex-direction: row;
        gap: 10px;
    }

    .nav__link {
        font-size: 16px;
    }

    .nav__lang {
        display: none;
    }
}